{{ define "main" }}
<main>
	<div class='banner'>
		<div class='banner-content'>
			<img width=180 src='https://avatars1.githubusercontent.com/u/38820196?s=460&u=b9f4efb2375bae6cb30656d790c6e0a2939327c0&v=4' id='profile-pic'>
			<div>
				<h1>sammyette </h1>
				<p>Student, hobbyist software developer, anime watcher. Plays games and wants to make games.</p>
				<a href="https://github.com/TorchedSammy" target="_blank"><button>GitHub</button></a>
				<a href="https://twitter.com/sammyettelol" target="_blank"><button>Twitter</button></a>
				<a href="https://myanimelist.net/profile/sammyette" target="_blank"><button>MyAnimeList</button></a>
			</div>
			</img>
		</div>
	</div>
	{{.Content}}
</main>
{{ end }}

