{{ define "main" }}
<article>
	<header>
		<h1 style='margin-bottom: 0;'>{{ .Title }}</h1>
		<em><small>
			<div class='post-metadata'>
			{{- if isset .Params "date" -}}
				<time>{{ .Date.Format "January 2, 2006" }}</time>
				<p>•</p>
			{{- end -}}
			<p>{{ math.Round (div (countwords .Content) 220.0) }} min read</p>
			</div>
		</small></em>
		{{ .Page.TableOfContents }}
	</header>
	{{- .Content -}}
	<hr>
	<div class="bar">
		<div class="place-left">
			{{ if .NextPage }}
				<a class="link-reverse" href="{{ .NextPage.Permalink }}">« {{ .NextPage.Title | truncate 50 "..." }}</a>
			{{ end }}
		</div>
		<div class="place-right">
			{{ if .PrevPage }}
				<a class="link-reverse" href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
			{{ end }}
		</div>
	</div>
	<script src="https://giscus.app/client.js"
		data-repo="TorchedSammy/torchedsammy.github.io"
		data-repo-id="MDEwOlJlcG9zaXRvcnkyNzk5MDQ1OTA="
		data-category="Announcements"
		data-category-id="DIC_kwDOEK8BTs4CQrdA"
		data-mapping="title"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="bottom"
		data-theme="transparent_dark"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async>
	</script>
</article>
{{ end }}
