<head>
	{{ $title := printf "%s — %s" .Title .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	
	<meta name="theme-color" content="#ff89dd">
	<meta content="https://avatars1.githubusercontent.com/u/38820196?s=460&u=b9f4efb2375bae6cb30656d790c6e0a2939327c0&v=4" property="og:image" />

	<meta property="og:site_name" content="sammyette" />
	<meta content="{{ $title }}" property="og:title" />
	<meta content="{{if .Description}}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" property="og:description" />
	<meta content="{{if .Description}}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" name="description" />
	
	<meta name="revisit-after" content="2 days">
	<meta name="keywords" content="TorchedSammy, Twitter, Developer, Github, Discord">
	
	<meta property="og:locale" content="en_GB" />
	<link rel="canonical" href="https://sammy.is-a.dev/" />
	<meta property="og:url" content="https://sammy.is-a.dev/" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	{{ $scss := resources.Get (printf "css/%s.scss" $.Site.Params.darkSakura) }}
	{{ $style := $scss | resources.ToCSS | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" >
	{{ $syntax := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $syntax.RelPermalink }}" integrity="{{ $syntax.Data.Integrity }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css" type="text/css" rel="stylesheet">
</head>
